@using Apps.Web.Core;
@using Apps.Web;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "App_Requirement";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = null;
}

<style>
    .saveBtn {
        position: absolute;
        height: 28px;
        background-color: rgb(250, 250, 250);
        padding-top: 4px;
        padding-left: 5px;
        border-bottom: 1px solid;
        width: 577px;
        z-index: 9999;
    }

    .mvctool label {
        font-size: larger;
        font-weight: bolder;
    }
</style>
<div class="mvctool">
    <div style="float:left;">
        <input type="hidden" id="PositionId" />
        <label>
            标题:
        </label><input id="Title" type="text" style="width:120px;" />
        <label>
            工 种:
        </label><input id="positiontreeinput" type="text" style="width:120px;" readonly="readonly" />
        <label>
            性 别:
        </label><input id="Sex" type="text" style="width:40px;" />
        <label>
            国 家:
        </label><input id="Country" type="text" style="width:120px;" />
        <label>
            年 龄:
        </label><input id="WorkLimitAgeLow" type="text" style="width:30px;" />~<input id="WorkLimitAgeHigh" type="text" style="width:30px;" />
        <label>
            薪 资:
        </label><input id="SallaryLow" type="text" style="width:60px;" />~<input id="SallaryHigh" type="text" style="width:60px;" />
        <label>
            标 签:
        </label><input id="Tag" type="text" style="width:60px;" />
    </div>
    <div style="float:left;">
        @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query, ref perm, "Query", true)
        @Html.ToolButton("btnCreate", "fa fa-plus", Resource.Create, ref perm, "Create", true)
        @Html.ToolButton("btnEdit", "fa fa-pencil", Resource.Edit, ref perm, "Edit", true)
        @Html.ToolButton("btnDetails", "fa fa-list", Resource.Details, ref perm, "Details", true)
        @Html.ToolButton("btnDelete", "fa fa-trash", Resource.Delete, ref perm, "Delete", true)
        @Html.ToolButton("btnApplyJob", "fa fa-pencil", "送人", ref perm, "ApplyJob", false)
    </div>
</div>
<table id="List"></table>
<div id="positiontree" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false" style="overflow-y:scroll">
    <div class="saveBtn">
        @Html.ToolButton("btnSaveTree", "fa fa-save", Resource.Save, true)
        @Html.ToolButton("btnReturnTree", "fa fa-reply", Resource.Reply, false)
    </div>
    <div style="position:relative;top:40px;"><ul id="tt" class="easyui-tree"></ul></div>
</div>
<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
<script type="text/javascript">
    var treeData = {};
    var countryCombo = [];
    $(function () {
        var url = Constants.globalHomeUrl + Constants.Requirement.GetCountries + "?UserId=0&PageNum=0&RecordNum=0";
        globalUtils.globalAjax(url, {}, function (data) {
            countryCombo = data.Data;
            countryCombo.splice(0, 0, { Id: "", Name: "--请选择--" });
            $('#Country').combobox({
                valueField: 'Id',
                textField: 'Name',
                data: countryCombo
            });
        }, "get");
        $('#List').datagrid({
            url: '@Url.Action("GetList")',
            width:SetGridWidthSub(10),
            method: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            //rownumbers: true,//行号
            columns: [[
                { field: 'Id', title: '主键', width: 80, hidden: true },
                { field: 'Title', title: '职位名称', width: 160, sortable: false },
                { field: 'Position', title: '职位类型', width: 80, sortable: false },
                { field: 'Country', title: '国家', width: 80, sortable: false },
                { field: 'Sex', title: '性别', width: 80, sortable: false },
                { field: 'AgeLimit', title: '年龄要求', width: 80, sortable: false },
                { field: 'YearSalary', title: '年收入', width: 80, sortable: false },
                { field: 'TotalHire', title: '招聘人数', width: 80, sortable: false },
                { field: 'Tag', title: '职位标签', width: 80, sortable: false },
                { field: 'TotalServiceMoney', title: '总服务费', width: 80, sortable: false },
                { field: 'PublishDate', title: '发布时间', width: 80, sortable: false },
                { field: 'ReqType', title: '类型', width: 80, hidden: true },
            ]]
        });
        $("#btnCreate").click(function () {
            var menuName = window.parent.$('#mainTab').tabs('getSelected').panel('options').title;
            window.parent.addTab("新增职位", "@Url.Action("Create")", "fa fa-plus", menuName);
        });
        $("#btnEdit").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                var menuName = window.parent.$('#mainTab').tabs('getSelected').panel('options').title;
                window.parent.addTab("修改职位", "@Url.Action("Edit")?id=" + row.Id + "&Ieguid=" + GetGuid() + "", "fa fa-pencil", menuName);
            } else { $.messageBox5s('@Resource.Tip', '@Resource.PlaseChooseToOperatingRecords'); }
        });
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                var menuName = window.parent.$('#mainTab').tabs('getSelected').panel('options').title;
                window.parent.addTab("查看职位", "@Url.Action("Details")?id=" + row.Id + "&Ieguid=" + GetGuid() + "", "fa fa-list", menuName);
            } else { $.messageBox5s('@Resource.Tip', '@Resource.PlaseChooseToOperatingRecords'); }
         });
        $("#btnQuery").click(function () {
            QueryList();
        });
        $("#btnDelete").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm('@Resource.Tip', '@Resource.YouWantToDeleteTheSelectedRecords', function (r) {
                     if (r) {
                         $.post("@Url.Action("Delete")?id=" + row.Id, function (data) {
                             if (data.type == 1)
                                 $("#List").datagrid('load');
                             $.messageBox5s('@Resource.Tip', data.message);
                         }, "json");

                     }
                 });
             } else { $.messageBox5s('@Resource.Tip', '@Resource.PlaseChooseToOperatingRecords'); }
        });
        $("#btnReturnTree").click(function () {
            $("#positiontree").window('close');
        });
        $("#btnSaveTree").click(function () {
            var nodes = $('#tt').tree('getChecked');	// get checked nodes
            var ids = '';
            var texts = '';
            nodes.forEach(function (value, index, array) {
                ids += ',' + value.id;
                texts += ',' + value.text;
            })
            if (ids != '') {
                ids = ids.substring(1);
                texts = texts.substring(1);
            }
            $("#PositionId").val(ids);
            $("#positiontreeinput").val(texts);
            $("#positiontree").window('close');
        });
        $("#positiontreeinput").click(function () {
            if (treeData.length) {
                initPosTree(treeData);
            } else {
                globalUtils.globalAjax("/App/Position/GetPosCombTree", {}, function (data) {
                    treeData = data;
                    initPosTree(treeData);
                }, "post");
            }
        });
    });
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
        window.parent.closeTab("@Resource.Create", "@Url.Action("Create")", "fa fa-plus");
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('@Resource.Tip', mes);
    }
    function initPosTree(treeData) {
        $('#tt').tree({
            data: treeData,
            animate: true,
            checkbox: true,
            onlyLeafCheck: true,
            onLoadSuccess: function (node, data) {
                var ids = $("#PositionId").val();
                if (ids != '') {
                    var idArr = ids.split(",");
                    for (var i = 0; i < idArr.length; i++) {
                        // find a node and then select it
                        var node = $('#tt').tree('find', idArr[i]);
                        $('#tt').tree('check', node.target);
                    }
                }
            }
        });
        $("#positiontree").window({
            title: '职位',
            width: 600,
            height: 400,
            top: 350,
            iconCls: 'fa fa-pencil'
        }).window('open');
    }
    function QueryList() {
        var Title = $("#Title").val();
        var Sex = $("#Sex").val();
        var Country = $('#Country').combobox('getValue');
        var AgeLow = $("#AgeLow").val();
        var AgeHigh = $("#AgeHigh").val();
        var SallaryLow = $("#SallaryLow").val();
        var SallaryHigh = $("#SallaryHigh").val();
        var Tag = $("#Tag").val();
        var PositionId = $("#PositionId").val();
        var data = {
            Title: Title,
            Sex: Sex,
            Country: Country,
            AgeLow: AgeLow,
            AgeHigh: AgeHigh,
            SallaryLow: SallaryLow,
            SallaryHigh: SallaryHigh,
            Tag: Tag,
            PositionId: PositionId,
        };
        $("#List").datagrid("load", data);
    };
</script>

