@using Apps.Web.Core;
@using Apps.Web;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "APP_Customer";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<div class="mvctool">
    <div style="float:left;">
        @*将查询条件作为部分页面，并传递参数*@
        @Html.Partial("~/Views/Shared/App/_PartialResumeQuery.cshtml", new ViewDataDictionary { { "url", @Url.Action("GetCustomerResumeList") + "?RequirementId=" + @ViewBag.ReqId }, { "ReqId", @ViewBag.ReqId } })
    </div>
    <div style="float:left;">
        @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query, true)
        @Html.ToolButton("btnDetails", "fa fa-list", Resource.Details, true)
        @Html.ToolButton("btnSave", "fa fa-save", "确认送人", true)
    </div>
</div>
<table id="List"></table>

<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
