@model Apps.Models.Sys.SysUserModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
    function SetPosTree(depId, refFlag) {
        $('#posTree').combotree({
            url: '/SysPosition/GetPosListByComTree?depId=' + depId
                 , onSelect: function (node) {
                     $("#PosId").val(node.id);
                 }, onLoadSuccess: function (node, data) { //加载成功选择第一行
                     if (refFlag)
                         $('#posTree').combotree("setValue", "@Model.PosName");
                 }
        });
    }
    $(function () {
        //分类combotree
        $('#structTree').combotree({
            url: '/SysStruct/GetComTreeByDep?id=root'
            , onSelect: function (node) {
                $("#DepId").val(node.id);
                $("#PosId").val("");
                $('#posTree').combotree('setValue', "");
                SetPosTree(node.id)
            }, onLoadSuccess: function (node, data) { //加载成功选择第一行
                $('#structTree').combotree("setValue", "@(Model.DepName)");
                SetPosTree($("#DepId").val(), true);
            }
        });

        $("#Province").prepend("<option value='' selected='selected'>--未选择--</option>");

        $("#Province").change(function () {
            if ($("#Province").val() != "") {
                $.post("/SysAreas/GetListByParentId", { id: $("#Province").val() }, function (data) {
                    if (data == "") {
                        $("#City").html("<option>--没有数据--</option>");
                        $("#Village").html("<option>--没有数据--</option>");
                    }
                    else {
                        $("#City").html(data);
                        $("#City").val("@Model.City");
                        $("#City").trigger("change");

                    }

                }, "json");
            } else {
                $("#City").html("<option>--未选择--</option>");
                $("#Village").html("<option>--未选择--</option>");
            }
        });
        $("#City").change(function () {
            if ($("#City").val() != "") {
                $.post("/SysAreas/GetListByParentId", { id: $("#City").val() }, function (data) {
                    if (data == "") {
                        $("#Village").html("<option>--没有数据--</option>");
                    }
                    else {
                        $("#Village").html(data);
                        $("#Village").val("@Model.Village");
                    }
                }, "json");
            }
        });
        $("#DepId").val("@Model.DepId");
        $("#Province").val("@Model.Province");
        $("#DepId").trigger("change");
        $("#Province").trigger("change");
        if ("@Model.Sex" == "男") {
            document.getElementsByName("Sex")[0].checked = "checked";
        } else {
            document.getElementsByName("Sex")[1].checked = "checked";
        }
        var SwitchBtnEnable = false;
        if ("@Model.State" == "True") {
            SwitchBtnEnable = true;
            $("#UserName").removeAttr("readonly");
            $("#Password").removeAttr("readonly");
        }

        //State change 事件
        $('#State2').switchbutton({
            checked: SwitchBtnEnable,
            onChange: function (checked) {
                if (checked == true) {
                    $("#UserName").removeAttr("readonly");
                    $("#Password").removeAttr("readonly");
                    return;
                }
                if (checked == false) {
                    $("#UserName").attr("readonly", "readonly");
                    $("#Password").attr("readonly", "readonly");
                }
            }
        })

        $("#btnSave").click(function () {
            if (!$("#EditForm").valid()) {
                $.messageBox10s('提示', $("#ErrMesList").html());
                return;
            }
            var DepId = $("#DepId").val();
            if (DepId == "") {
                $.messageBox10s('提示', "部门也不能为空");
                return;
            }
            var State2 = $("#State2").switchbutton("options").checked;
            if (State2 == "true") {
                var UserName = $("#UserName").val();
                var Password = $("#Password").val();
                if (UserName == "" || Password == "") {
                    $.messageBox10s('提示', "账户启用，用户名和密码也不能为空");
                    return;
                }
            }
            var PosId = $("#PosId").val()
            if (PosId == "" || PosId == undefined) {
                $("#PosId").val("201802231408117120846de89f8a6db");
            }
            if ($("#EditForm").valid()) {
                document.getElementById("State").value = $("#State2").switchbutton("options").checked;
                $.ajax({
                    url: "/SysUser/Edit",
                    type: "Post",
                    data: $("#EditForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
        $("#btnAttach").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='99%'  frameborder='0' src='/SysAttach/Index?BusinessID=@Model.Id&Ieguid=" + GetGuid() + "'></iframe>");
            $("#modalwindow").window({ title: '附件列表', width: 900, height: 500, iconCls: 'icon-list' }).window('open');
        });
        $("#selExc").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='100%' scrolling='no' frameborder='0'' src='/SysHelper/UserLookUp'></iframe>");
            $("#modalwindow").window({ title: '选择人员', width: 620, height: 388, iconCls: 'fa fa-plus' }).window('open');
        });
    });

    function SetSelResult(result, resultName) {

        $("#Lead").val(result);
        $("#LeadName").val(resultName);
    }
    function GetSelResult() {
        var arrayObj = new Array()
        arrayObj[0] = $("#Lead").val();
        arrayObj[1] = $("#LeadName").val();
        return arrayObj;
    }
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
</script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, ref perm, "Save", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
    @Html.ToolButton("btnAttach", "fa fa-arrow-circle-o-up", "附件管理", true)
</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<div style="width:98%; margin:0 auto;">
    @using (Html.BeginForm("Edit", "SysUser", null, FormMethod.Post, new { Id = "EditForm" }))
    {
        <div id="ErrMesList">
            <div id="ErrMesListContent">
                @Html.ValidationSummary(false)
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreateTime)
        @Html.HiddenFor(model => model.CreatePerson)
        @Html.HiddenFor(model => model.JoinDate)
        @Html.HiddenFor(model => model.State)
        @Html.HiddenFor(model => model.PK_App_Customer_CustomerName)
        <table class="formtable">
            <tbody>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.TrueName)：
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.TrueName, new { style = "width:120px;height:20px;" })
                    </td>
                    <th>
                        @Html.LabelFor(model => model.MobileNumber)：
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.MobileNumber, new { style = "width:120px;height:20px;" })
                    </td>
                    <th>
                        @Html.LabelFor(model => model.PhoneNumber)：
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { style = "width:120px;height:20px;" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Sex)：
                    </th>
                    <td>
                        <input name="Sex" value="男" type="radio" />男
                        <input name="Sex" type="radio" value="女" />女
                    </td>
                    <th>
                        @Html.LabelFor(model => model.EmailAddress)：
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.EmailAddress, new { style = "width:120px;height:20px;" })
                    </td>
                    <th>
                        @Html.LabelFor(model => model.JobState)：
                    </th>
                    <td>
                        @Html.SwitchButtonByEdit("JobState", true)
                    </td>

                </tr>
                <tr>
                    <th>
                        是否启用帐户：
                    </th>
                    <td>
                        @Html.SwitchButtonByEdit("State2", false)
                    </td>
                    <th>
                        @Html.LabelFor(model => model.UserName)：
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.UserName, new { style = "width:120px;height:20px;", @readonly = "readonly" })
                    </td>
                    <th>
                        @Html.LabelFor(model => model.Password)：
                    </th>
                    <td>
                        @if (Session["IdFlag"].ToString() == "1")
                        {
                            @Html.TextBoxFor(model => model.Password, new { style = "width:120px;height:20px;", @readonly = "readonly" })
                        }
                        else
                        {
                            <input type="password" name="Password" id="Password" style="width:120px;height:20px;" readonly="readonly" value="@Model.Password" />
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.DepId)：
                    </th>
                    <td>
                        @Html.HiddenFor(model => model.DepId)
                        <input class="easyui-combotree" id="structTree" style="width:150px;height:28px;">
                    </td>
                    <th>

                        @Html.LabelFor(model => model.PosId)：
                    </th>
                    <td>
                        <div style="display:none">@Html.EditorFor(model => model.PosId)</div>
                        <input class="easyui-combotree" id="posTree" style="width: 150px; height: 28px;">
                    </td>
                    <th>
                        @Html.LabelFor(model => model.Birthday)：
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.Birthday, new { @onClick = "WdatePicker()", Value = String.Format("{0:yyyy-MM-dd}", Model.Birthday), @style = "width:105px" })
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Photo)
                    </th>
                    <td>
                        @Html.HiddenFor(model => model.Photo)
                        <img class="expic" src="@((Model.Photo==null||Model.Photo=="")?"/Content/Images/NotPic.jpg":Model.Photo)" /><br />
                        <a href="javascript:$('#FileUpload').trigger('click');" class="files">@Resource.Browse</a>
                        <a onclick="ClearImg('Photo');" class="files">删除</a>
                        <input type="file" class="displaynone" id="FileUpload" name="FileUpload" onchange="Upload('SingleFile', 'Photo', 'FileUpload','1','1');" />
                        <span class="uploading">@Resource.Uploading</span>
                    </td>
                    <th>
                        @Html.LabelFor(model => model.SwitchBtnLead)：
                    </th>
                    <td>
                        @if (Model.SwitchBtnLead == "1")
                        {
                            @Html.SwitchButtonByEdit("SwitchBtnLead", true)
                        }
                        else
                        {
                            @Html.SwitchButtonByEdit("SwitchBtnLead", false)
                        }
                    </td>
                    <th>
                        @Html.LabelFor(model => model.EnumUserType)：
                    </th>
                    <td>
                        @Html.DropDownListFor(model => model.EnumUserType, ViewBag.EnumUserType as SelectList, "---请选择---")
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <th>
                        @Html.LabelFor(model => model.Expertise)：
                    </th>
                    <td colspan="5">
                        @Html.TextAreaFor(model => model.Expertise, new { style = "width:350px;height:50px;" })
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>