@using Apps.Web.Core;
@using Apps.Web;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "App_Requirement";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = null;
}
<div class="mvctool">
    <input id="txtQuery" type="text" class="searchText" />
    @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query,ref perm, "Query", true)
    @Html.ToolButton("btnDetails", "fa fa-list", Resource.Details,ref perm, "Details", true)
</div>
<table id="List"></table>

<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetApplyedReqList")?QueryFlag=Applyed',
            width:SetGridWidthSub(10),
            method: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            //rownumbers: true,//行号
            columns: [[
                { field: 'Id', title: '主键', width: 80,hidden:true },
                { field: 'Title', title: '标题', width: 160,sortable:true },
                { field: 'SubTitle', title: '副标题', width: 80,sortable:true },
                { field: 'PK_App_Position_Name', title: '职位类型', width: 80,sortable:true },
                { field: 'PK_App_Country_Name', title: '国家', width: 80,sortable:true },
                { field: 'WorkLimitSex', title: '工作要求性别', width: 80,sortable:true },
                { field: 'SalaryLow', title: '报酬(最低)', width: 80,sortable:true },
                { field: 'SalaryHigh', title: '报酬(最高)', width: 80,sortable:true },
                { field: 'TotalServiceMoney', title: '总服务费', width: 80,sortable:true },
                { field: 'PublishDate', title: '发布时间', width: 80,sortable:true },
                { field: 'TotalHire', title: '招聘人数', width: 80,sortable:true },
                { field: 'Tag', title: '职位标签', width: 80,sortable:true },
                { field: 'PK_App_Customer_CustomerName', title: '发布人', width: 80,sortable:true },
                { field: 'SwitchBtnRecommend', title: '推荐', width: 35, align:'center',formatter: function (value) {return SwitchBtnFormatter(value)} }
            ]]
        });
    });
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('@Resource.Tip', mes);
    }
    $(function () {
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                window.parent.addTab("查看需求", "@Url.Action("Details")?id=" + row.Id + "&Ieguid=" + GetGuid() + "", "fa fa-list");
            } else { $.messageBox5s('@Resource.Tip', '@Resource.PlaseChooseToOperatingRecords'); }
         });
        $("#btnQuery").click(function () {
            QueryList();
        });
    });

    function QueryList() {
        var queryStr = $("#txtQuery").val();
        $("#List").datagrid("load", { queryStr: queryStr });
        $("#List").datagrid("clearSelections");
    };
</script>

