@using Apps.Web.Core;
@using Apps.Web;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "ApplyedRequirement";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = null;
}
<div class="mvctool">
    <div style="float:left;">
        <label>姓 名: </label><input id="CustomerName" type="text" style="width:120px;" />
        性 别: <input id="Sex" type="text" style="width:40px;" />
        手机号: <input id="CustomerPhone" type="text" style="width:120px;" />
        年龄: <input id="WorkLimitAgeLow" type="text" style="width:30px;" />~<input id="WorkLimitAgeHigh" type="text" style="width:30px;" />
    </div>
    <div style="float:left;">
        @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query, ref perm, "Query", true)
    </div>
</div>
<table id="List"></table>

<div id="modalwindow" class="easyui-window" style="width:800px; height:400px;" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
<script type="text/javascript">
    var ReqId = "@ViewBag.ReqId";
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetIndexResume")?RequirementId='+ ReqId,
            width:SetGridWidthSub(10),
            method: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            //rownumbers: true,//行号
            columns: [[
                { field: 'Id', title: '主键', width: 80,hidden:true },
                { field: 'OwnerName', title: '拥有人姓名', width: 80,sortable:true },
                { field: 'CustomerName', title: '工友姓名', width: 80,sortable:true },
                { field: 'Sex', title: '性别', width: 80,sortable:true },
                { field: 'Phone', title: '电话', width: 80,sortable:true },
                { field: 'Age', title: '年龄', width: 80,sortable:true },
                {
                    field: 'CustomerPhoto', title: '照片', width: 80, formatter: function (value) {
                        if (value) {
                            return '<img width="80px;" src="' + value + '" />';
                        } else {
                            return "暂无图片";
                        }
                    }},
                { field: 'BirthDay', title: '生日', width: 80, sortable: true },
                {
                    field: 'Ope', title: '操作', width: 80, formatter: function (value, rec) {
                        var btn = '<a class="fa fa-save" onclick="ViewApplyJob(\'' + rec.Id + '\',\'' + ReqId + '\')" href="javascript:void(0)">&nbsp;查看办理步骤</a>';
                        return btn;
                    } }
            ]]
        });
        $("#btnQuery").click(function () {
            queryList();
        });
    });
    function ViewApplyJob(CustomerId, ReqId) {
        globalUtils.globalAjax("@Url.Action("ApplyJob")", { ReqId: ReqId, CustomerId: CustomerId }, function (result) {
            $.messageBox5s('@Resource.Tip', result.Message);
            queryList();
        }, "post");
    }
    function queryList() {
        var CustomerName = $("#CustomerName").val();
        var Sex = $("#Sex").val();
        var CustomerPhone = $("#CustomerPhone").val();
        var WorkLimitAgeLow = $("#WorkLimitAgeLow").val();
        var WorkLimitAgeHigh = $("#WorkLimitAgeHigh").val();
        $("#List").datagrid("load", { CustomerName: CustomerName, Sex: Sex, CustomerPhone: CustomerPhone, WorkLimitAgeLow: WorkLimitAgeLow, WorkLimitAgeHigh: WorkLimitAgeHigh });
    }
</script>
