@model Apps.Models.App.App_CustomerPosSearchModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.App;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Create")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>
<div class="mvctool bgb">
@Html.ToolButton("btnSave", "fa fa-save", Resource.Save,ref perm, "Save", true)
@Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply,false)
</div>
@using (Html.BeginForm())
{
             @Html.HiddenFor(model => model.Id)
             <input id="CreateTime" type="hidden" name="CreateTime" value="2017-12-31" />
             <input id="ModificationTime" type="hidden" name="ModificationTime" value="2017-12-31" />
 <table class="formtable">
    <tbody>
        <tr>
            <th>
                @Html.LabelFor(model => model.Content)：
            </th>
            <td>
                @Html.EditorFor(model => model.Content)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Content)</td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.PK_App_Customer_CustomerName)：
            </th>
            <td>
                @Html.DropDownListFor(model => model.PK_App_Customer_CustomerName,ViewBag.PK_App_Customer_CustomerName as SelectList,"---请选择---")
            </td>
            <td>@Html.ValidationMessageFor(model => model.PK_App_Customer_CustomerName)</td>
        </tr>
    </tbody>
</table>
}

