@model Apps.Models.App.App_CountryModel
@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.App;
@using Apps.Web;
@using Apps.Locale;
@using Apps.Models.Sys;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = null;
}

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Create")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "fa fa-save", Resource.Save, ref perm, "Save", true)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <input id="CreateTime" type="hidden" name="CreateTime" value="2017-12-31" />
    <input id="ModificationTime" type="hidden" name="ModificationTime" value="2017-12-31" />
    <table class="formtable">
        <tbody>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Name)：
                </th>
                <td>
                    @Html.EditorFor(model => model.Name)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.SwitchBtnHot)：
                </th>
                <td>
                    @Html.SwitchButtonByEdit("SwitchBtnHot", false)
                </td>
                <td>@Html.ValidationMessageFor(model => model.SwitchBtnHot)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.CountryImg)：
                </th>
                <td>
                    @Html.HiddenFor(model => model.CountryImg)
                    <img class="expic" src="/Content/Images/NotPic.jpg" /><br />
                    <a onclick="$('#FileUpload_CountryImg').trigger('click')" class="files">@Resource.Browse</a>
                    <a onclick="ClearImg('CountryImg');" class="files">删除</a>
                    <input type="file" class="displaynone" id="FileUpload_CountryImg" name="FileUpload_CountryImg" onchange="Upload('SingleFile', 'CountryImg', 'FileUpload_CountryImg','1','1');" />
                    <span class="uploading">@Resource.Uploading</span>
                </td>
                <td>@Html.ValidationMessageFor(model => model.CountryImg)</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.ExchangeRate)：
                </th>
                <td>
                    @Html.EditorFor(model => model.ExchangeRate)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ExchangeRate)</td>
            </tr>
        </tbody>
    </table>
}
