@using Apps.Web.Core;
@using Apps.Locale;

<style>
    .saveBtn {
        position: absolute;
        height: 28px;
        background-color: rgb(250, 250, 250);
        padding-top: 4px;
        padding-left: 5px;
        border-bottom: 1px solid;
        width: 577px;
        z-index: 9999;
    }

    .mvctool label {
        font-size: larger;
        font-weight: bolder;
    }
</style>

<input type="hidden" id="PositionId" />
<label>
    职位名称:
</label><input id="Title" type="text" style="width:120px;" />
<label>
    职位类型:
</label><input id="positiontreeinput" type="text" style="width:120px;" readonly="readonly" />
<label>
    性 别:
</label>
<select id="Sex">
    <option value="不限">不限</option>
    <option value="男">男</option>
    <option value="女">女</option>
</select>
<label>
    国 家:
</label><input id="Country" type="text" style="width:120px;" />
<label>
    年 龄:
</label><input id="AgeLow" type="text" style="width:30px;" />~<input id="AgeHigh" type="text" style="width:30px;" />
<label>
    薪 资:
</label><input id="SallaryLow" type="text" style="width:60px;" />~<input id="SallaryHigh" type="text" style="width:60px;" />
<label>
    标 签:
</label><input id="Tag" type="text" style="width:60px;" />
@if (Session["IdFlag"].ToString() == "1" || Session["ohadmin"].ToString() == "1")
{
    <label>
        公司名:
    </label><input id="CompanyName" type="text" style="width:120px;" />
}
<div id="positiontree" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false" style="overflow-y:scroll">
    <div class="saveBtn">
        @Html.ToolButton("btnSaveTree", "fa fa-save", Resource.Save, true)
        @Html.ToolButton("btnReturnTree", "fa fa-reply", Resource.Reply, false)
    </div>
    <div style="position:relative;top:40px;"><ul id="tt" class="easyui-tree"></ul></div>
</div>
<!--需求查询模板-->
<script type="text/javascript">
    var treeData = {};
    var countryCombo = [];
    var gridurl = '@Html.ViewData["url"]';
    var module = '@Html.ViewData["module"]';
    $(function () {
        var url = Constants.globalHomeUrl + Constants.Requirement.GetCountries + "?UserId=0&PageNum=0&RecordNum=0";
        globalUtils.globalAjax(url, {}, function (data) {
            countryCombo = data.Data;
            countryCombo.splice(0, 0, { Id: "", Name: "--请选择--" });
            $('#Country').combobox({
                valueField: 'Id',
                textField: 'Name',
                data: countryCombo
            });
        }, "get");
        $('#List').datagrid({
            url: gridurl,
            width: SetGridWidthSub(10),
            method: 'post',
            height: SetGridHeightSub(45),
            fitColumns: true,
            sortName: 'CreateTime',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            //rownumbers: true,//行号
            columns: [[
                { field: 'Id', title: '主键', width: 80, hidden: true },
                { field: 'Title', title: '职位名称', width: 160, sortable: false },
                { field: 'Position', title: '职位类型', width: 80, sortable: false },
                { field: 'Country', title: '国家', width: 80, sortable: false },
                { field: 'Sex', title: '性别', width: 80, sortable: false },
                { field: 'AgeLimit', title: '年龄要求', width: 80, sortable: false },
                { field: 'YearSalary', title: '年收入', width: 80, sortable: false },
                { field: 'TotalHire', title: '招聘人数', width: 80, sortable: false },
                { field: 'Tag', title: '职位标签', width: 80, sortable: false },
                { field: 'TotalServiceMoney', title: '总服务费', width: 80, sortable: false },
                { field: 'PublishDate', title: '发布时间', width: 80, sortable: false },
                { field: 'ReqType', title: '类型', width: 80, hidden: true },
                {
                    field: 'Ope', title: '操作', width: 80, formatter: function (value, row) {
                        var btn = '<a onclick="showDetails(\'' + row.Id + '\',\'' + row.Title + '\')" href="javascript:void(0)">&nbsp;查看详情</a>';
                        return btn;
                    }
                },
            ]]
        });
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                var menuName = window.parent.$('#mainTab').tabs('getSelected').panel('options').title;
                window.parent.addTab(module + "_查看职位_" + row.Title, "@Url.Action("Details")?id=" + row.Id + "&Ieguid=" + GetGuid() + "", "fa fa-list", menuName);
            } else { $.messageBox5s('@Resource.Tip', '@Resource.PlaseChooseToOperatingRecords'); }
         });
        $("#btnQuery").click(function () {
            QueryList();
        });
        $("#btnReturnTree").click(function () {
            $("#positiontree").window('close');
        });
        $("#btnSaveTree").click(function () {
            var nodes = $('#tt').tree('getChecked');	// get checked nodes
            var ids = '';
            var texts = '';
            nodes.forEach(function (value, index, array) {
                ids += ',' + value.id;
                texts += ',' + value.text;
            })
            if (ids != '') {
                ids = ids.substring(1);
                texts = texts.substring(1);
            }
            $("#PositionId").val(ids);
            $("#positiontreeinput").val(texts);
            $("#positiontree").window('close');
        });
        $("#positiontreeinput").click(function () {
            if (treeData.length) {
                initPosTree(treeData);
            } else {
                globalUtils.globalAjax("/App/Position/GetPosCombTree", {}, function (data) {
                    treeData = data;
                    initPosTree(treeData);
                }, "post");
            }
        });
    });
    //查看详情
    function showDetails(rowId, rowTitle) {
        var menuName = window.parent.$('#mainTab').tabs('getSelected').panel('options').title;
        window.parent.addTab(module + "_查看职位_" + rowTitle, "@Url.Action("Details")?id=" + rowId + "&Ieguid=" + GetGuid() + "", "fa fa-list", menuName);
    }
    function initPosTree(treeData) {
        $('#tt').tree({
            data: treeData,
            animate: true,
            checkbox: true,
            onlyLeafCheck: true,
            onLoadSuccess: function (node, data) {
                var ids = $("#PositionId").val();
                if (ids != '') {
                    var idArr = ids.split(",");
                    for (var i = 0; i < idArr.length; i++) {
                        // find a node and then select it
                        var node = $('#tt').tree('find', idArr[i]);
                        $('#tt').tree('check', node.target);
                    }
                }
            }
        });
        $("#positiontree").window({
            title: '职位',
            width: 600,
            height: 400,
            top: 350,
            iconCls: 'fa fa-pencil'
        }).window('open');
    }
    function QueryList() {
        var Title = $("#Title").val();
        var Sex = $("#Sex").val();
        var Country = $('#Country').combobox('getValue');
        var AgeLow = $("#AgeLow").val();
        var AgeHigh = $("#AgeHigh").val();
        var SallaryLow = $("#SallaryLow").val();
        var SallaryHigh = $("#SallaryHigh").val();
        var Tag = $("#Tag").val();
        var PositionId = $("#PositionId").val();
        var CompanyName = $("#CompanyName").val();
        var data = {
            Title: Title,
            Sex: Sex,
            Country: Country,
            AgeLow: AgeLow,
            AgeHigh: AgeHigh,
            SallaryLow: SallaryLow,
            SallaryHigh: SallaryHigh,
            Tag: Tag,
            PositionId: PositionId,
            CompanyName: CompanyName,
        };
        $("#List").datagrid("load", data);
    }
</script>
